.root {
  min-height: calc(100vh);
}

.imageContainer {
  width: 10em;
  max-width: 160px;
  margin: 15px 15px 15px 15px;
}

.flexContainer {
  flex-wrap: wrap;
}

.image {
  border-radius: 10px;
  pointer-events: none;
}
