.root {
  position: relative;
  box-sizing: border-box;
  padding: 16px;
  background: var(--background);
  border: 1px solid var(--accents-2);
  border-radius: 5px;
  box-shadow: var(--shadow-smallest);
}

.imageContainer {
  width: 10em;
  max-width: 160px;
  margin: 15px 15px 15px 15px;
}

.image {
  border-radius: 3px;
  pointer-events: none;
}
